# Forzar HTTPS
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#    RewriteRule ^sitemap\.xml$ /sitemap.php [L]
#</IfModule>

# Páginas de error personalizadas
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

# Proteger archivos sensibles
<FilesMatch "\.(env|log|sql|sh|git)$">
    Require all denied
</FilesMatch>

# Bloquear acceso directo a carpetas
Options -Indexes

# Proteger carpeta vendor
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^vendor/ /403.php [L]
</IfModule>
