# Forzar HTTPS
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Proteger archivos sensibles
<FilesMatch "\.(env|log|sql|sh|git)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear acceso directo a carpetas
Options -Indexes

# Proteger carpeta vendor y logs
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^vendor/ - [F,L]